@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
align-items: center;
background-color: #0f0f0f;
display: flex;
flex-direction: column;
font-family: 'Inter', system-ui;
min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, li {
color: white;
}

.hero {
display: flex;
justify-content: center;
margin-top: 2rem;
min-width: 30vw;
}

.todo-section {
align-items: center;
display: flex;
flex-direction: column;
gap: 1rem;
margin: 7.5rem;
width: 45vw;
}

.card {
background-color: #141414;
border: 1px solid rgb(63, 63, 63);
border-radius: 14px;
padding: 3rem;
}

.special-span {
background: linear-gradient(to right, #0026ff, #7802e6);
background-clip: text;
color: transparent;
}

#todo-input {
background-color: #0f0f0f;
border: 1px solid rgb(63, 63, 63);
border-radius: 10px;
color: white;
outline: none;
padding: 0.4rem;
text-decoration: none;
}

#todo-input:focus {
border: 1px solid rgb(81, 0, 255);
}

.todo-input-form > button {
background-color: #0f0f0f;
border: 1px solid rgb(63, 63, 63);
border-radius: 10px;
color: white;
outline: none;
padding: 0.4rem;
text-decoration: none;
}

#add-todo-btn {
background-color: #0026ff;
border: none;
}

#add-todo-btn:hover {
background-color: #001aae;
}

.todo-list-entry {
align-items: center;
display: flex;
}

.todo-entry-name {
flex-grow: 1;
}

.todo-entry-buttons {
display: flex;
gap: 1rem;
padding-left: 1rem;
}

.todo-entry-button {
background-color: #141414;
border: 1px solid black;
border-radius: 100%;
height: 2.2rem;
width: 2.2rem;
}

.todo-entry-delete-button:hover {
    border: 2px solid red;
}

.todo-entry-status-button:hover {
    border: 2px solid rgb(0, 184, 12);
}
 